<div class='inspection-view'>
	<table style="width:100%">
    <tr>
      <th>AUTOPLAST</th>
      <th>INSPECTION STANDARD</th> 
      <th>Document Number</th>
      <th>IS--312</th>
    </tr>
    <tr>
      <td>Customer Part No.</td>
      <td>KL116577-5320</td> 
      <td>Tool No.</td>
      <td>image</td> 
      <td>Rev. No.</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Part Name</td>
      <td>PLATE 640A-5320</td> 
      <td>312</td>
      <td>Rev. No.</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td> 
      <td>94</td>
    </tr>
  </table>
</div>