<div class="inspection-main">

  <div class="long-title">
    <h3>Inspection</h3>
  </div>

  <dx-validation-group>
    <div class="row">


      <div class="col-4">
        <div class="lable">Customer Part No.</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="lable">Part Name</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="lable">Autoplast part no.</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="row">

      <div class="col-4">
        <div class="lable">Drawing number</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="lable">Drawing Rev. no.</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="lable">Tool Number</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="lable">Part Image</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="lable">Document Number</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="lable">Revision No.</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>

      <div class="col-4">
        <div class="lable">Revision Date</div>
        <dx-text-box name="FirstName">
          <dx-validator>
            <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>

  </dx-validation-group>
  <!-- 
  <dx-validation-group>
    <dx-text-box name="FirstName">
      <dx-validator>
        <dxi-validation-rule type="required" message="First name is required"></dxi-validation-rule>
        ...
      </dx-validator>
    </dx-text-box>
    <dx-text-box name="LastName">
      <dx-validator>
        <dxi-validation-rule type="required" message="Last name is required"></dxi-validation-rule>
        ...
      </dx-validator>
    </dx-text-box>
    <dx-validation-summary></dx-validation-summary>
    <dx-button></dx-button>
  </dx-validation-group> -->


  <dx-data-grid id="gridContainer" [dataSource]="countries" [allowColumnResizing]="true"
    [columnResizingMode]="columnResizingMode" [columnAutoWidth]="true" [showBorders]="true"
    [allowColumnReordering]="true">

    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="batch" [allowUpdating]="true" [allowAdding]="true">
    </dxo-editing>


    <dxi-column name="No" caption="Sl.No." cellTemplate="NoTemplate"></dxi-column>
    <div *dxTemplate="let data of 'NoTemplate'">
      <a class="dx-link">
        {{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}
      </a>
    </div>

    <dxi-column dataField="PostionNo" caption="Pos.No.">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="Characteristics" caption="Characteristics">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column caption="Specification">
      <dxi-column caption="LSL" dataField="LSL" format="fixedPoint" [precision]="2">
      </dxi-column>
      <dxi-column caption="USL" dataField="USL" format="fixedPoint" [precision]="2">
      </dxi-column>
    </dxi-column>

    <dxi-column dataField="SC_CC" caption="SC/CC/kpc/★">
    </dxi-column>

    <dxi-column dataField="CheckingMethod" caption="Checking Method">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>


    <dxi-column dataField="FPA" caption="FPA">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="FPAResp" caption="Resp.">

    </dxi-column>

    <dxi-column dataField="LPA" caption="LPA">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="LPAResp" caption="Resp.">

    </dxi-column>


    <dxi-column caption="In-process">
      <dxi-column caption="Shots" dataField="Shots" format="fixedPoint">
      </dxi-column>
      <dxi-column caption="Freq:hrs" dataField="FreqHrs" format="fixedPoint">
      </dxi-column>
    </dxi-column>

    <dxi-column dataField="StatusResp" caption="Resp.">

    </dxi-column>

    <dxi-column dataField="PostionIndication" caption="Pos.No.Indication">

    </dxi-column>

  </dx-data-grid>
</div>