<div class="inspection-main">

  <div class="long-title">
    <h3>Inspection</h3>
  </div>

  <dx-validation-group>
    <div class="row">

      <div class="col-4">
        <div class="label">Customer Part No.</div>
        <dx-autocomplete name="PartNo" placeholder="Part No" [dataSource]="itemAutoComplete" valueExpr="itemNo"
          itemTemplate="full" (onValueChanged)="updateInspectionInfo($event)">
          <div *dxTemplate="let item of 'full'">
            <span>{{item.itemNo}}</span>
          </div>
        </dx-autocomplete>
      </div>

      <div class="col-4">
        <div class="label">Part Name</div>
        <dx-autocomplete name="PartName" placeholder="Part Name" [dataSource]="itemAutoComplete" valueExpr="itemName"
          itemTemplate="full" (onValueChanged)="updateInspectionInfo($event)">
          <div *dxTemplate="let item of 'full'">
            <span>{{item.itemName}}</span>
          </div>
        </dx-autocomplete>
      </div>

      <div class="col-4">
        <div class="label">Autoplast part no.</div>
        <dx-text-box name="AutoplastPartNo" [(value)]="inspection.autoplastPartNo" disabled="true"
          placeholder="Customer Part Number">
        </dx-text-box>
      </div>


    </div>


    <div class="row">

      <div class="col-4">
        <div class="label">Drawing number</div>
        <dx-text-box name="DrawingNumber" [(value)]="drawingnumber" placeholder="Drawing number">
          <dx-validator>
            <dxi-validation-rule type="required" message="Drawing number is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="label">Drawing Rev. no.</div>
        <dx-text-box name="DrawingRevNumber" [(value)]="drawingRevNumber" placeholder="Drawing Rev. no.">
          <dx-validator>
            <dxi-validation-rule type="required" message="Drawing Rev. no. is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="label">Tool Number</div>
        <dx-drop-down-box [(value)]="toolNumber" valueExpr="ID" displayExpr="name" placeholder="Tool Number"
          [showClearButton]="true" [dataSource]="toolNumbers">
        </dx-drop-down-box>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="label">Part Image</div>
        <div>
          <div *ngIf="savedCroppedImage == ''">
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Select
              Image</button>
          </div>
          <div>
            <img [src]="savedCroppedImage" />
          </div>
          <div class="mt-10" *ngIf="savedCroppedImage != ''">
            <button type="button" class="btn btn-info btn-sm" (click)="removeImage()">Remove Image</button>
          </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Select Part Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <input type="file" (change)="fileChangeEvent($event)" />

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
                  [aspectRatio]="4 / 3" [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                  (click)="saveImage($event)">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="label">Document Number</div>
        <dx-text-box name="DocumentNo" [(value)]="documentNumber" placeholder="Document Number">
          <dx-validator>
            <dxi-validation-rule type="required" message="Document Number is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>

      <div class="col-4">
        <div class="label">Revision No.</div>
        <dx-text-box name="RevisionNo" [(value)]="revisionNo" placeholder="Revision Number">
          <dx-validator>
            <dxi-validation-rule type="required" message="Revision No. is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="label">Diagram</div>
        <div>
          <div>
            <input type="file" (change)="saveDiagramImage($event)" />
          </div>
          <div>
            <img class='mt-20' [src]="diagramImage" />
          </div>
        </div>

      </div>
      <div class="col-4">
      </div>

      <div class="col-4">
        <div class="label">Revision Date</div>
        <dx-date-box class="mb-10" [(value)]="revisionDate">
        </dx-date-box>
      </div>
    </div>



  </dx-validation-group>


  <dx-data-grid id="gridContainer" [dataSource]="inspectionDetails" [allowColumnResizing]="true"
    [columnAutoWidth]="true" [showBorders]="true" [allowColumnReordering]="true"
    (onEditingStart)="logEvent('EditingStart')" (onInitNewRow)="logEvent('InitNewRow')"
    (onRowInserting)="logEvent('RowInserting')" (onRowInserted)="logEvent('RowInserted')"
    (onRowUpdating)="logEvent('RowUpdating')" (onRowUpdated)="logEvent('RowUpdated')"
    (onRowRemoving)="logEvent('RowRemoving')" (onRowRemoved)="logEvent('RowRemoved')">>

    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
    </dxo-editing>


    <dxi-column name="No" caption="Sl.No." cellTemplate="NoTemplate"></dxi-column>
    <div *dxTemplate="let data of 'NoTemplate'">
      <a class="dx-link">
        {{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}
      </a>
    </div>

    <dxi-column dataField="PosNo" caption="Pos.No.">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>


    <dxi-column dataField="DimensionId" caption="Characteristics" [width]="125">
      <dxo-lookup [dataSource]="listOfcharacteristics" displayExpr="dimensionName" valueExpr="dimensionId">
      </dxo-lookup>
    </dxi-column>


    <dxi-column caption="Specification">
      <dxi-column caption="LSL" dataField="LSL" format="fixedPoint" [precision]="2">
      </dxi-column>
      <dxi-column caption="USL" dataField="USL" format="fixedPoint" [precision]="2">
      </dxi-column>
    </dxi-column>


    <dxi-column dataField="SC_ID" caption="SC/CC/kpc/★" [width]="125">
      <dxo-lookup [dataSource]="listOfSCCC" displayExpr="name" valueExpr="value">
      </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="InstrumentId" caption="Checking Method" [width]="125">
      <dxo-lookup [dataSource]="listOfcheckingMethods" displayExpr="instrumentName" valueExpr="instrumentId">
      </dxo-lookup>
    </dxi-column>


    <dxi-column dataField="FPA" caption="FPA">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="FPARespId" caption="Resp." [width]="125">
      <dxo-lookup [dataSource]="listOfRespPerson" displayExpr="name" valueExpr="Id">
      </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="LPA" caption="LPA">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="LPARespId" caption="Resp." [width]="125">
      <dxo-lookup [dataSource]="listOfRespPerson" displayExpr="name" valueExpr="Id">
      </dxo-lookup>
    </dxi-column>

    <dxi-column caption="In-process">
      <dxi-column caption="Shots" dataField="InProcessShots" format="fixedPoint">
      </dxi-column>
      <dxi-column caption="Freq:hrs" dataField="InProcessFrequency" format="fixedPoint">
      </dxi-column>
    </dxi-column>

    <dxi-column dataField="InProcessRespId" caption="Resp." [width]="125">
      <dxo-lookup [dataSource]="listOfRespPerson" displayExpr="name" valueExpr="Id">
      </dxo-lookup>
    </dxi-column>


    <dxi-column dataField="PostionIndication" caption="Pos.No.Indication">

    </dxi-column>

  </dx-data-grid>




</div>