.inspection-main .label{
	margin-bottom: 5px;
	margin-top: 10px;
}

.inspection-main .dx-datebox {
  width: 100% !important;
}

.mt-10{
	margin-top: 10px;
}

.inspection-main .mt-20{
	margin-top: 20px;
}

.mb-10{
	margin-bottom: 10px;
}